*  {
    box-sizing: border-box;
    font-family: "Noto Serif", Georgia, serif;
    background-color: aliceblue;
    margin: 0;
}

h1 {
    width: 300px;
    height: 72px;
    padding: 12px 32px;
    margin: 24px 32px;
    background-color: lightskyblue;
    color: navy;
}

h4, li  {
    background-color: rgb(147, 241, 210);
    margin: 8px;
}

h5  {
    padding: 3px;
    font-family: sans-serif;
    margin: 4px;
}

h2, h3 {
    margin: 12px 0;
    padding: 3px 320px;
    background-color: lightblue;
}


ul, ol  {
    background-color: rgb(147, 241, 210);
    padding: 12px 4px;
}

a  {
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 2px;
    color: darkslateblue;
    background-color: rgb(147, 241, 210);
    margin: 4px 4px 4px 8px;
}

.smallimage  {
    width: 350px;
    height: 230px;
    display: inline-block;
}

.homelink {
    padding: 8px;
    margin-left: 16px;
}